@model List<ProductViewModel>

@{
    ViewData["Title"] = "ListProducts";
}

<h2>List Products</h2>

<table>
    <thead>
        <tr>
            <th style="padding-right:10px;">
                Customer Id
            </th>
            <th style="padding-right:10px;">
                Product Name
            </th>
            <th style="padding-right:10px;">
                Domain
            </th>
            <th style="padding-right:10px;">
                Start Date
            </th>
            <th style="padding-right:10px;">
                Duration Months
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
        <tr>
            <td style="padding-right:10px;">
                @product.CustomerId
            </td>
            <td style="padding-right:10px;">
                @product.ProductName
            </td>
            <td style="padding-right:10px;">
                @product.Domain
            </td>
            <td style="padding-right:10px;">
                @product.StartDate.ToShortDateString()
            </td>
            <td style="padding-right:10px;">
                @product.DurationMonths
            </td>
        </tr>
        }
    </tbody>
</table>
